#btn {
    font-size: 30px;
    margin-left: 45%;
}

p {
    font-size: 30px;
}
#para1{
    color: blue;
    margin-left: 43%;

}
#para{
    color:red;
    margin-left : 43% ;
}

div{
    width: 1000px;
    height: 500px;
    border: 3px solid black;
    margin-left: 20%;
}